/* APP */
.nav {
  border-bottom: 2px solid green;
  background-color: white;
}

.logo {
  max-width: 20%;
}

h1 {
  text-align: center;
  padding-top: 50px;
}

/* HOME */
.carousel {
  padding: 8rem;
  height: 35rem;
}

.carousel-img {
  display: block;
  margin: auto;
  max-width: 50%;
  max-height: 50%;
}

/* SEARCH */
.shoe_button {
  background: white;
  width: 100%;
  /* border: 3px solid rgb(118, 190, 118); */
  box-shadow: 3px 3px 3px grey;

}

.container {
  margin-top: 60px;
  max-width: 75%;
}

h3 {
  text-align: center;
  padding: 40px;
  font-weight: bold;
  color: rgb(82, 82, 82);

}
.dropdown-brand {
  padding-left: 60px;
  padding-right: 60px;
}

.dropdown {
  padding-top: 50px;
  padding-left: 60px;
  padding-right: 60px;
}

.dropdown-colour {
  padding-top: 50px;
  padding-left: 60px;
  padding-right: 60px;
  /* padding-bottom: 50px; */
}
.column {
  width: 100%;
  border-radius: 9px;
  border: 2px solid rgb(28, 131, 8);
  box-shadow: 10px 20px 15px rgb(211, 218, 213);
  height: 100%;
}

.custom-select {
  height: 55px;
}

.form-btn {
  padding-left: 55px;
  padding-right: 55px;
}

.apply-button {
  padding: 70px;
  position: static;
  top: 50%;
  padding-left: 40%;
}

/* Popup style */
.popup-box {
  position: fixed;
  text-align: center;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  overflow: auto;
  border-radius: 9px;
  border: 2px solid rgb(28, 131, 8);
}


.close-icon {
  border-radius: 9px;
  border: 2px solid rgb(28, 131, 8);
}

.buttons-class {
  margin-top: 16px;
}

